# DataFrames Part 01

In [ ]:
import pandas as pd

## Shared Methods and Attributes

The raw data here was obtained from the malware security entity, the said raw data constituted malware and legitimate files.

Malware represents software which is specifically designed to disrupt, damage, or gain authorised access to a computer system. Legitimate files are software that don't behave like malware and are useful and harmless to the users.

In [ ]:
#https://sparkbyexamples.com/python/pyspark-save-dataframe-to-hive-table/

In [ ]:
#spark_df = spark.createDataFrame(df1)
#spark_df.write.mode("overwrite").saveAsTable("temp.table1")
#spark_df.write.mode("overwrite").saveAsTable("temp.table1")
#you can create a new pandas dataframe witht the following command:
#df1 = spark.sql('select * from temp.table1').toPandas()

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
# File location and type
file_location = "D:\GWU\AAA-Fall 2023\8515-Data Engineering for AI\Data Processing Dataset\Malware_dataset.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

AnalysisException: [PATH_NOT_FOUND] Path does not exist: file:/D:/GWU/AAA-Fall 2023/8515-Data Engineering for AI/Data Processing Dataset/Malware_dataset.csv.

In [ ]:
df.write.mode("overwrite").saveAsTable("malware")

In [ ]:
dataframe = df.toPandas()

In [ ]:
dataframe.head(10)

   ID Machine  ... VersionInformationSize _c55
0   1   34404  ...                      0  NaN
1   2     332  ...                      0  NaN
2   3     332  ...                      0  NaN
3   4   34404  ...                      0  NaN
4   5     332  ...                      0  NaN
5   6   34404  ...                      0  NaN
6   7   34404  ...                      0  NaN
7   8     332  ...                      0  NaN
8   9     332  ...                      0  NaN
9  10     332  ...                      0  NaN

[10 rows x 56 columns]

In [ ]:
dataframe.tail()

          ID Machine  ... VersionInformationSize _c55
88255  88256     332  ...                      0  NaN
88256  88257     332  ...                      0  NaN
88257  88258     332  ...                      0  NaN
88258  88259     332  ...                      0  NaN
88259  88260     332  ...                      0  NaN

[5 rows x 56 columns]

In [ ]:
dataframe.index

RangeIndex(start=0, stop=88260, step=1)

In [ ]:
dataframe.values

array([[1, '34404', '240', ..., '256', '0', nan],
       [2, '332', '224', ..., '160', '0', nan],
       [3, '332', '224', ..., '0', '0', nan],
       ...,
       [88258, 332, 224, ..., 0, 0, nan],
       [88259, 332, 224, ..., 0, 0, nan],
       [88260, 332, 224, ..., 0, 0, nan]], dtype=object)

In [ ]:
dataframe.shape

(88260, 56)

In [ ]:
dataframe.dtypes

ID                               int64
Machine                         object
SizeOfOptionalHeader            object
Characteristics                 object
MajorLinkerVersion              object
MinorLinkerVersion              object
SizeOfCode                      object
SizeOfInitializedData           object
SizeOfUninitializedData         object
AddressOfEntryPoint             object
BaseOfCode                      object
BaseOfData                      object
ImageBase                       object
SectionAlignment                object
FileAlignment                   object
MajorOperatingSystemVersion     object
MinorOperatingSystemVersion     object
MajorImageVersion               object
MinorImageVersion               object
MajorSubsystemVersion           object
MinorSubsystemVersion           object
SizeOfImage                     object
SizeOfHeaders                   object
CheckSum                        object
Subsystem                       object
DllCharacteristics              object
SizeOfStackReserve              object
SizeOfStackCommit               object
SizeOfHeapReserve               object
SizeOfHeapCommit                object
LoaderFlags                     object
NumberOfRvaAndSizes             object
SectionsNb                      object
SectionsMeanEntropy             object
SectionsMinEntropy              object
SectionsMaxEntropy              object
SectionsMeanRawsize             object
SectionsMinRawsize              object
SectionMaxRawsize               object
SectionsMeanVirtualsize         object
SectionsMinVirtualsize          object
SectionMaxVirtualsize           object
ImportsNbDLL                    object
ImportsNb                       object
ImportsNbOrdinal                object
ExportNb                        object
ResourcesNb                     object
ResourcesMeanEntropy            object
ResourcesMinEntropy             object
ResourcesMaxEntropy             object
ResourcesMeanSize               object
ResourcesMinSize                object
ResourcesMaxSize                object
LoadConfigurationSize           object
VersionInformationSize          object
Unnamed: 55                    float64
dtype: object

In [ ]:
dataframe.columns

Index(['ID', 'Machine', 'SizeOfOptionalHeader', 'Characteristics',
       'MajorLinkerVersion', 'MinorLinkerVersion', 'SizeOfCode',
       'SizeOfInitializedData', 'SizeOfUninitializedData',
       'AddressOfEntryPoint', 'BaseOfCode', 'BaseOfData', 'ImageBase',
       'SectionAlignment', 'FileAlignment', 'MajorOperatingSystemVersion',
       'MinorOperatingSystemVersion', 'MajorImageVersion', 'MinorImageVersion',
       'MajorSubsystemVersion', 'MinorSubsystemVersion', 'SizeOfImage',
       'SizeOfHeaders', 'CheckSum', 'Subsystem', 'DllCharacteristics',
       'SizeOfStackReserve', 'SizeOfStackCommit', 'SizeOfHeapReserve',
       'SizeOfHeapCommit', 'LoaderFlags', 'NumberOfRvaAndSizes', 'SectionsNb',
       'SectionsMeanEntropy', 'SectionsMinEntropy', 'SectionsMaxEntropy',
       'SectionsMeanRawsize', 'SectionsMinRawsize', 'SectionMaxRawsize',
       'SectionsMeanVirtualsize', 'SectionsMinVirtualsize',
       'SectionMaxVirtualsize', 'ImportsNbDLL', 'ImportsNb',
       'ImportsNbOrdinal', 'ExportNb', 'ResourcesNb', 'ResourcesMeanEntropy',
       'ResourcesMinEntropy', 'ResourcesMaxEntropy', 'ResourcesMeanSize',
       'ResourcesMinSize', 'ResourcesMaxSize', 'LoadConfigurationSize',
       'VersionInformationSize', 'Unnamed: 55'],
      dtype='object')

The axes attribute returns combined axes that make up by data.

In [ ]:
dataframe.axes

[RangeIndex(start=0, stop=88260, step=1),
 Index(['ID', 'Machine', 'SizeOfOptionalHeader', 'Characteristics',
        'MajorLinkerVersion', 'MinorLinkerVersion', 'SizeOfCode',
        'SizeOfInitializedData', 'SizeOfUninitializedData',
        'AddressOfEntryPoint', 'BaseOfCode', 'BaseOfData', 'ImageBase',
        'SectionAlignment', 'FileAlignment', 'MajorOperatingSystemVersion',
        'MinorOperatingSystemVersion', 'MajorImageVersion', 'MinorImageVersion',
        'MajorSubsystemVersion', 'MinorSubsystemVersion', 'SizeOfImage',
        'SizeOfHeaders', 'CheckSum', 'Subsystem', 'DllCharacteristics',
        'SizeOfStackReserve', 'SizeOfStackCommit', 'SizeOfHeapReserve',
        'SizeOfHeapCommit', 'LoaderFlags', 'NumberOfRvaAndSizes', 'SectionsNb',
        'SectionsMeanEntropy', 'SectionsMinEntropy', 'SectionsMaxEntropy',
        'SectionsMeanRawsize', 'SectionsMinRawsize', 'SectionMaxRawsize',
        'SectionsMeanVirtualsize', 'SectionsMinVirtualsize',
        'SectionMaxVirtualsize', 'ImportsNbDLL', 'ImportsNb',
        'ImportsNbOrdinal', 'ExportNb', 'ResourcesNb', 'ResourcesMeanEntropy',
        'ResourcesMinEntropy', 'ResourcesMaxEntropy', 'ResourcesMeanSize',
        'ResourcesMinSize', 'ResourcesMaxSize', 'LoadConfigurationSize',
        'VersionInformationSize', 'Unnamed: 55'],
       dtype='object')]

.info() method provide a summary of the data frame.

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88260 entries, 0 to 88259
Data columns (total 56 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           88260 non-null  int64
 1   Machine                      88260 non-null  object
 2   SizeOfOptionalHeader         88260 non-null  object
 3   Characteristics              88260 non-null  object
 4   MajorLinkerVersion           88260 non-null  object
 5   MinorLinkerVersion           88260 non-null  object
 6   SizeOfCode                   88260 non-null  object
 7   SizeOfInitializedData        88260 non-null  object
 8   SizeOfUninitializedData      88260 non-null  object
 9   AddressOfEntryPoint          88260 non-null  object
 10  BaseOfCode                   88260 non-null  object
 11  BaseOfData                   88260 non-null  object
 12  ImageBase                    88260 non-null  object
 13  SectionAlignment             88260 non-null  object
 14  FileAlignment                88260 non-null  object
 15  MajorOperatingSystemVersion  88260 non-null  object
 16  MinorOperatingSystemVersion  88260 non-null  object
 17  MajorImageVersion            88260 non-null  object
 18  MinorImageVersion            88260 non-null  object
 19  MajorSubsystemVersion        88260 non-null  object
 20  MinorSubsystemVersion        88260 non-null  object
 21  SizeOfImage                  88260 non-null  object
 22  SizeOfHeaders                88260 non-null  object
 23  CheckSum                     88260 non-null  object
 24  Subsystem                    88260 non-null  object
 25  DllCharacteristics           88260 non-null  object
 26  SizeOfStackReserve           88260 non-null  object
 27  SizeOfStackCommit            88260 non-null  object
 28  SizeOfHeapReserve            88260 non-null  object
 29  SizeOfHeapCommit             88260 non-null  object
 30  LoaderFlags                  88260 non-null  object
 31  NumberOfRvaAndSizes          88260 non-null  object
 32  SectionsNb                   88260 non-null  object
 33  SectionsMeanEntropy          88260 non-null  object
 34  SectionsMinEntropy           88260 non-null  object
 35  SectionsMaxEntropy           88260 non-null  object
 36  SectionsMeanRawsize          88260 non-null  object
 37  SectionsMinRawsize           88260 non-null  object
 38  SectionMaxRawsize            88260 non-null  object
 39  SectionsMeanVirtualsize      88260 non-null  object
 40  SectionsMinVirtualsize       88260 non-null  object
 41  SectionMaxVirtualsize        88260 non-null  object
 42  ImportsNbDLL                 88260 non-null  object
 43  ImportsNb                    88260 non-null  object
 44  ImportsNbOrdinal             88260 non-null  object
 45  ExportNb                     88260 non-null  object
 46  ResourcesNb                  88260 non-null  object
 47  ResourcesMeanEntropy         88260 non-null  object
 48  ResourcesMinEntropy          88260 non-null  object
 49  ResourcesMaxEntropy          88260 non-null  object
 50  ResourcesMeanSize            88260 non-null  object
 51  ResourcesMinSize             88260 non-null  object
 52  ResourcesMaxSize             88260 non-null  object
 53  LoadConfigurationSize        88260 non-null  object
 54  VersionInformationSize       88260 non-null  object
 55  Unnamed: 55                  1 non-null      float64
dtypes: float64(1), int64(1), object(54)
memory usage: 37.7+ MB

### importing new data

In [ ]:
import sys, os
sys.path
os.getcwd()

'/databricks/driver'

In [ ]:
rev = pd.read_csv("revenue.csv", index_col = "Date")
rev.head(3)

---------------------------------------------------------------------------
FileNotFoundError                         Traceback (most recent call last)
File <command-464804250986406>:1
----> 1 rev = pd.read_csv("/revenue.csv", index_col = "Date")
      2 rev.head(3)

File /databricks/python/lib/python3.10/site-packages/pandas/util/_decorators.py:311, in deprecate_nonkeyword_arguments.<locals>.decorate.<locals>.wrapper(*args, **kwargs)
    305 if len(args) > num_allow_args:
    306     warnings.warn(
    307         msg.format(arguments=arguments),
    308         FutureWarning,
    309         stacklevel=stacklevel,
    310     )
--> 311 return func(*args, **kwargs)

File /databricks/python/lib/python3.10/site-packages/pandas/io/parsers/readers.py:678, in read_csv(filepath_or_buffer, sep, delimiter, header, names, index_col, usecols, squeeze, prefix, mangle_dupe_cols, dtype, engine, converters, true_values, false_values, skipinitialspace, skiprows, skipfooter, nrows, na_values, keep_default_na, na_filter, verbose, skip_blank_lines, parse_dates, infer_datetime_format, keep_date_col, date_parser, dayfirst, cache_dates, iterator, chunksize, compression, thousands, decimal, lineterminator, quotechar, quoting, doublequote, escapechar, comment, encoding, encoding_errors, dialect, error_bad_lines, warn_bad_lines, on_bad_lines, delim_whitespace, low_memory, memory_map, float_precision, storage_options)
    663 kwds_defaults = _refine_defaults_read(
    664     dialect,
    665     delimiter,
   (...)
    674     defaults={"delimiter": ","},
    675 )
    676 kwds.update(kwds_defaults)
--> 678 return _read(filepath_or_buffer, kwds)

File /databricks/python/lib/python3.10/site-packages/pandas/io/parsers/readers.py:575, in _read(filepath_or_buffer, kwds)
    572 _validate_names(kwds.get("names", None))
    574 # Create the parser.
--> 575 parser = TextFileReader(filepath_or_buffer, **kwds)
    577 if chunksize or iterator:
    578     return parser

File /databricks/python/lib/python3.10/site-packages/pandas/io/parsers/readers.py:932, in TextFileReader.__init__(self, f, engine, **kwds)
    929     self.options["has_index_names"] = kwds["has_index_names"]
    931 self.handles: IOHandles | None = None
--> 932 self._engine = self._make_engine(f, self.engine)

File /databricks/python/lib/python3.10/site-packages/pandas/io/parsers/readers.py:1216, in TextFileReader._make_engine(self, f, engine)
   1212     mode = "rb"
   1213 # error: No overload variant of "get_handle" matches argument types
   1214 # "Union[str, PathLike[str], ReadCsvBuffer[bytes], ReadCsvBuffer[str]]"
   1215 # , "str", "bool", "Any", "Any", "Any", "Any", "Any"
-> 1216 self.handles = get_handle(  # type: ignore[call-overload]
   1217     f,
   1218     mode,
   1219     encoding=self.options.get("encoding", None),
   1220     compression=self.options.get("compression", None),
   1221     memory_map=self.options.get("memory_map", False),
   1222     is_text=is_text,
   1223     errors=self.options.get("encoding_errors", "strict"),
   1224     storage_options=self.options.get("storage_options", None),
   1225 )
   1226 assert self.handles is not None
   1227 f = self.handles.handle

File /databricks/python/lib/python3.10/site-packages/pandas/io/common.py:786, in get_handle(path_or_buf, mode, encoding, compression, memory_map, is_text, errors, storage_options)
    781 elif isinstance(handle, str):
    782     # Check whether the filename is to be opened in binary mode.
    783     # Binary mode does not support 'encoding' and 'newline'.
    784     if ioargs.encoding and "b" not in ioargs.mode:
    785         # Encoding
--> 786         handle = open(
    787             handle,
    788             ioargs.mode,
    789             encoding=ioargs.encoding,
    790             errors=errors,
    791             newline="",
    792         )
    793     else:
    794         # Binary mode
    795         handle = open(handle, ioargs.mode)

FileNotFoundError: [Errno 2] No such file or directory: '/revenue.csv'

In [ ]:
rev.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [ ]:
s = pd.Series([1, 2, 3])
s.sum()

6

In [ ]:
rev.sum(axis = "index")   # aggregate index

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [ ]:
rev.sum(axis = "columns")   # aggregate columns

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

## Select One Column from a `DataFrame`

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/KDDTrain_20.txt")
dataframe.head(3)

   0  tcp ftp_data  SF  491   0.1  ...  0.00.7  0.00.8  0.05  0.00.9   normal  20
0  0  udp    other  SF  146     0  ...    0.00    0.00   0.0    0.00   normal  15
1  0  tcp  private  S0    0     0  ...    1.00    1.00   0.0    0.00  neptune  19
2  0  tcp     http  SF  232  8153  ...    0.03    0.01   0.0    0.01   normal  21

[3 rows x 43 columns]

In [ ]:
dataframe.SF
#Output = None

0          SF
1          S0
2          SF
3          SF
4         REJ
         ...
25186    RSTO
25187      SF
25188     REJ
25189      S0
25190      S0
Name: SF, Length: 25191, dtype: object

In [ ]:
dataframe['SF']

0          SF
1          S0
2          SF
3          SF
4         REJ
         ...
25186    RSTO
25187      SF
25188     REJ
25189      S0
25190      S0
Name: SF, Length: 25191, dtype: object

## Select Two or More Columns from A `DataFrame`

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/KDDTrain_20.txt")
dataframe.head(3)

   0  tcp ftp_data  SF  491   0.1  ...  0.00.7  0.00.8  0.05  0.00.9   normal  20
0  0  udp    other  SF  146     0  ...    0.00    0.00   0.0    0.00   normal  15
1  0  tcp  private  S0    0     0  ...    1.00    1.00   0.0    0.00  neptune  19
2  0  tcp     http  SF  232  8153  ...    0.03    0.01   0.0    0.01   normal  21

[3 rows x 43 columns]

In [ ]:
dataframe[["tcp", "SF"]].head(3)   # dataframe[row, col], more than one rows or columns, use list to identify

   tcp  SF
0  udp  SF
1  tcp  S0
2  tcp  SF

Create a Variable  for the python list of columns

In [ ]:
select = ["ftp_data", "tcp", "SF"]
dataframe[select]

       ftp_data  tcp    SF
0         other  udp    SF
1       private  tcp    S0
2          http  tcp    SF
3          http  tcp    SF
4       private  tcp   REJ
...         ...  ...   ...
25186      exec  tcp  RSTO
25187  ftp_data  tcp    SF
25188   private  tcp   REJ
25189      nnsp  tcp    S0
25190    finger  tcp    S0

[25191 rows x 3 columns]

## Add New Column to `DataFrame`

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/KDDTrain_20.txt")
dataframe.head(3)

   0  tcp ftp_data  SF  491   0.1  ...  0.00.7  0.00.8  0.05  0.00.9   normal  20
0  0  udp    other  SF  146     0  ...    0.00    0.00   0.0    0.00   normal  15
1  0  tcp  private  S0    0     0  ...    1.00    1.00   0.0    0.00  neptune  19
2  0  tcp     http  SF  232  8153  ...    0.03    0.01   0.0    0.01   normal  21

[3 rows x 43 columns]

In [ ]:
dataframe["ftp_data"] = "http"
dataframe.head(3)

   0  tcp ftp_data  SF  491   0.1  ...  0.00.7  0.00.8  0.05  0.00.9   normal  20
0  0  udp     http  SF  146     0  ...    0.00    0.00   0.0    0.00   normal  15
1  0  tcp     http  S0    0     0  ...    1.00    1.00   0.0    0.00  neptune  19
2  0  tcp     http  SF  232  8153  ...    0.03    0.01   0.0    0.01   normal  21

[3 rows x 43 columns]

In [ ]:
dataframe["ftp_private"] = "This is Private"
dataframe.head(3)

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20,ftp_private
0,0,udp,http,SF,146,0,0,0,0,0,...,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15,This is Private
1,0,tcp,http,S0,0,0,0,0,0,0,...,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19,This is Private
2,0,tcp,http,SF,232,8153,0,0,0,0,...,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21,This is Private

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/KDDTrain_20.txt")
dataframe.head(3)

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17.1,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
0,0,udp,other,SF,146,0,0,0,0,0,...,0.0,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.1,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19
2,0,tcp,http,SF,232,8153,0,0,0,0,...,1.0,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21

In [ ]:
dataframe.insert(2, column = "New Column", value = "Value")
dataframe.head(3)

,0,tcp,New Column,ftp_data,SF,491,0.1,0.2,0.3,0.4,...,0.17.1,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
0,0,udp,Value,other,SF,146,0,0,0,0,...,0.0,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15
1,0,tcp,Value,private,S0,0,0,0,0,0,...,0.1,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19
2,0,tcp,Value,http,SF,232,8153,0,0,0,...,1.0,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21

In [ ]:
dataframe.insert(7, column = "Another Column", value = "Value")
Output = None

In [ ]:
dataframe

,0,tcp,ftp_data,SF,491,0.1,0.2,Another Column,0.3,0.4,...,0.17.1,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
0,0,udp,other,SF,146,0,0,Value,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15
1,0,tcp,private,S0,0,0,0,Value,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19
2,0,tcp,http,SF,232,8153,0,Value,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21
3,0,tcp,http,SF,199,420,0,Value,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal,21
4,0,tcp,private,REJ,0,0,0,Value,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25186,0,tcp,exec,RSTO,0,0,0,Value,0,0,...,0.03,0.06,0.00,0.00,0.00,0.00,1.0,1.00,neptune,19
25187,0,tcp,ftp_data,SF,334,0,0,Value,0,0,...,1.00,0.00,1.00,0.18,0.00,0.00,0.0,0.00,warezclient,12
25188,0,tcp,private,REJ,0,0,0,Value,0,0,...,0.05,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21
25189,0,tcp,nnsp,S0,0,0,0,Value,0,0,...,0.08,0.06,0.00,0.00,1.00,1.00,0.0,0.00,neptune,20
25190,0,tcp,finger,S0,0,0,0,Value,0,0,...,0.19,0.03,0.01,0.00,1.00,1.00,0.0,0.00,neptune,18

## Broadcasting Operations

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/attacks.csv")
dataframe.head(3)

  req/baseUrl req/body/note/title  ... req/xhr  isSafe
0   /crm/note        Audrey Smith  ...   False   False
1   /crm/note      Christine Todd  ...   False    True
2   /crm/note    Madeline Jackson  ...   False   False

[3 rows x 23 columns]

In [ ]:
dataframe["req/body/note/title"]

0                Audrey Smith
1              Christine Todd
2            Madeline Jackson
3              Samuel Wallace
4              Marcus Gregory
                ...
974           Bridget Elliott
975               James Rocha
976            Jasmine Gibson
977    Mr. Antonio Valdez DDS
978            Brian Stephens
Name: req/body/note/title, Length: 979, dtype: object

In [ ]:
dataframe.insert(2, column = "number", value = 1)  #not in ""
Output = None

In [ ]:
dataframe["number"]

0      1
1      1
2      1
3      1
4      1
      ..
974    1
975    1
976    1
977    1
978    1
Name: number, Length: 979, dtype: int64

In [ ]:
dataframe["number"].add(5)   # not implace
dataframe["number"] + 5

0      6
1      6
2      6
3      6
4      6
      ..
974    6
975    6
976    6
977    6
978    6
Name: number, Length: 979, dtype: int64

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/KDDTrain_20.txt")
dataframe.head()

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17.1,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
0,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19
2,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21
3,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal,21
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21

In [ ]:
dataframe["491"].sub(5)
dataframe["491"] - 5

0        141
1         -5
2        227
3        194
4         -5
        ...
25186     -5
25187    329
25188     -5
25189     -5
25190     -5
Name: 491, Length: 25191, dtype: int64

In [ ]:
dataframe["491"].mul(0.453592)

0         66.224432
1          0.000000
2        105.233344
3         90.264808
4          0.000000
            ...
25186      0.000000
25187    151.499728
25188      0.000000
25189      0.000000
25190      0.000000
Name: 491, Length: 25191, dtype: float64

In [ ]:
dataframe["New calculated Field"] = dataframe["491"] * 79

In [ ]:
dataframe.head(3)

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20,New calculated Field
0,0,udp,other,SF,146,0,0,0,0,0,...,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15,11534
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19,0
2,0,tcp,http,SF,232,8153,0,0,0,0,...,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21,18328

In [ ]:
dataframe["New calculated Field"].div(7.9)
dataframe["2nd calculated Field"] = dataframe["491"] / 7.9

In [ ]:
dataframe.head(3)

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20,New calculated Field,2nd calculated Field
0,0,udp,other,SF,146,0,0,0,0,0,...,0.88,0.00,0.00,0.00,0.0,0.00,normal,15,11534,18.481013
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19,0,0.000000
2,0,tcp,http,SF,232,8153,0,0,0,0,...,0.03,0.04,0.03,0.01,0.0,0.01,normal,21,18328,29.367089

## A Review of the `.value_counts()` Method

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/KDDTrain_20.txt")
dataframe.head()

   0  tcp ftp_data   SF  491   0.1  ...  0.00.7  0.00.8  0.05  0.00.9   normal  20
0  0  udp    other   SF  146     0  ...    0.00    0.00   0.0    0.00   normal  15
1  0  tcp  private   S0    0     0  ...    1.00    1.00   0.0    0.00  neptune  19
2  0  tcp     http   SF  232  8153  ...    0.03    0.01   0.0    0.01   normal  21
3  0  tcp     http   SF  199   420  ...    0.00    0.00   0.0    0.00   normal  21
4  0  tcp  private  REJ    0     0  ...    0.00    0.00   1.0    1.00  neptune  21

[5 rows x 43 columns]

In [ ]:
dataframe["ftp_data"].value_counts()

http         8003
private      4351
domain_u     1820
smtp         1449
ftp_data     1395
             ...
urh_i           4
red_i           3
pm_dump         3
tim_i           2
http_8001       1
Name: ftp_data, Length: 66, dtype: int64

In [ ]:
dataframe["tcp"].value_counts()

tcp     20525
udp      3011
icmp     1655
Name: tcp, dtype: int64

## Drop Rows with Null Values

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/Malware-dataset.csv")
dataframe.head(3)

<command-464804250986448>:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/Malware-dataset.csv")

   ID Machine  ... VersionInformationSize Unnamed: 55
0   1   34404  ...                      0         NaN
1   2     332  ...                      0         NaN
2   3     332  ...                      0         NaN

[3 rows x 56 columns]

In [ ]:
dataframe.tail(3)

,ID,Machine,SizeOfOptionalHeader,Characteristics,MajorLinkerVersion,MinorLinkerVersion,SizeOfCode,SizeOfInitializedData,SizeOfUninitializedData,AddressOfEntryPoint,...,ResourcesNb,ResourcesMeanEntropy,ResourcesMinEntropy,ResourcesMaxEntropy,ResourcesMeanSize,ResourcesMinSize,ResourcesMaxSize,LoadConfigurationSize,VersionInformationSize,Unnamed: 55
88257,88258,332,224,271,6,0,217088,147456,0,152994,...,0,0,0,0,0,0,0,0,0,NaN
88258,88259,332,224,271,5,5,4352,11264,49152,69815,...,0,0,0,0,0,0,0,0,0,NaN
88259,88260,332,224,271,6,0,761856,479232,0,634325,...,55,3.11738,0.903812,6.10651,614.382,11,16936,0,0,NaN

The dropna() is a method that drop any rows from the dataframe that have all as null values.

In [ ]:
dataframe.dropna(how = "all", inplace = True)

In [ ]:
dataframe.tail(3)

,ID,Machine,SizeOfOptionalHeader,Characteristics,MajorLinkerVersion,MinorLinkerVersion,SizeOfCode,SizeOfInitializedData,SizeOfUninitializedData,AddressOfEntryPoint,...,ResourcesMeanEntropy,ResourcesMinEntropy,ResourcesMaxEntropy,ResourcesMeanSize,ResourcesMinSize,ResourcesMaxSize,LoadConfigurationSize,VersionInformationSize,Unnamed: 55,New calculated Field
88257,88258,332,224,271,6,0,217088,147456,0,152994,...,0,0,0,0,0,0,0,0,NaN,217088000
88258,88259,332,224,271,5,5,4352,11264,49152,69815,...,0,0,0,0,0,0,0,0,NaN,4352000
88259,88260,332,224,271,6,0,761856,479232,0,634325,...,3.11738,0.903812,6.10651,614.382,11,16936,0,0,NaN,761856000

In [ ]:
dataframe.head(3)

,ID,Machine,SizeOfOptionalHeader,Characteristics,MajorLinkerVersion,MinorLinkerVersion,SizeOfCode,SizeOfInitializedData,SizeOfUninitializedData,AddressOfEntryPoint,...,ResourcesMeanEntropy,ResourcesMinEntropy,ResourcesMaxEntropy,ResourcesMeanSize,ResourcesMinSize,ResourcesMaxSize,LoadConfigurationSize,VersionInformationSize,Unnamed: 55,New calculated Field
0,1,34404,240,8226,14,12,78848,57856,0,72720,...,3.53097647713,3.53097647713,3.53097647713,1016,1016,1016,256,0,NaN,7884878848788487884878848788487884878848788487...
1,2,332,224,8450,14,12,43520,10752,0,42672,...,3.43871626779,3.43871626779,3.43871626779,996,996,996,160,0,NaN,4352043520435204352043520435204352043520435204...
2,3,332,224,8226,48,0,424960,2048,0,433018,...,3.40304950735,3.40304950735,3.40304950735,1172,1172,1172,0,0,NaN,4249604249604249604249604249604249604249604249...

In [ ]:
dataframe.dropna(subset = ["Machine", "SizeOfOptionalHeader"])

          ID Machine  ... VersionInformationSize Unnamed: 55
0          1   34404  ...                      0         NaN
1          2     332  ...                      0         NaN
2          3     332  ...                      0         NaN
3          4   34404  ...                      0         NaN
4          5     332  ...                      0         NaN
...      ...     ...  ...                    ...         ...
88255  88256     332  ...                      0         NaN
88256  88257     332  ...                      0         NaN
88257  88258     332  ...                      0         NaN
88258  88259     332  ...                      0         NaN
88259  88260     332  ...                      0         NaN

[88260 rows x 56 columns]

## Fill in Null Values with the `.fillna()` Method

fillna() is a method which is used to fill the null values in a dataframe with a specific value.

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/Malware-dataset.csv")
dataframe.head(3)

<command-464804250986457>:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/Malware-dataset.csv")

   ID Machine  ... VersionInformationSize Unnamed: 55
0   1   34404  ...                      0         NaN
1   2     332  ...                      0         NaN
2   3     332  ...                      0         NaN

[3 rows x 56 columns]

In [ ]:
dataframe.fillna(0)

          ID Machine  ... VersionInformationSize Unnamed: 55
0          1   34404  ...                      0         0.0
1          2     332  ...                      0         0.0
2          3     332  ...                      0         0.0
3          4   34404  ...                      0         0.0
4          5     332  ...                      0         0.0
...      ...     ...  ...                    ...         ...
88255  88256     332  ...                      0         0.0
88256  88257     332  ...                      0         0.0
88257  88258     332  ...                      0         0.0
88258  88259     332  ...                      0         0.0
88259  88260     332  ...                      0         0.0

[88260 rows x 56 columns]

In [ ]:
dataframe["SizeOfOptionalHeader"].fillna(0, inplace = True)

In [ ]:
dataframe.head()

,ID,Machine,SizeOfOptionalHeader,Characteristics,MajorLinkerVersion,MinorLinkerVersion,SizeOfCode,SizeOfInitializedData,SizeOfUninitializedData,AddressOfEntryPoint,...,ResourcesNb,ResourcesMeanEntropy,ResourcesMinEntropy,ResourcesMaxEntropy,ResourcesMeanSize,ResourcesMinSize,ResourcesMaxSize,LoadConfigurationSize,VersionInformationSize,Unnamed: 55
0,1,34404,240,8226,14,12,78848,57856,0,72720,...,1,3.53097647713,3.53097647713,3.53097647713,1016,1016,1016,256,0,NaN
1,2,332,224,8450,14,12,43520,10752,0,42672,...,1,3.43871626779,3.43871626779,3.43871626779,996,996,996,160,0,NaN
2,3,332,224,8226,48,0,424960,2048,0,433018,...,1,3.40304950735,3.40304950735,3.40304950735,1172,1172,1172,0,0,NaN
3,4,34404,240,8226,14,12,414720,314880,0,411408,...,1,3.4238294228,3.4238294228,3.4238294228,916,916,916,256,0,NaN
4,5,332,224,8450,14,13,123392,45056,0,122303,...,1,1.99931030842,1.99931030842,1.99931030842,2156,2156,2156,160,0,NaN

In [ ]:
dataframe = pd.read_csv("attacks.csv")
dataframe["req/body/note/title"].fillna("007", inplace = True)

In [ ]:
dataframe.head()

,req/baseUrl,req/body/note/title,req/body/note/desc,req/fresh,req/headers/host,req/headers/user-agent,req/headers/content-type,req/headers/org_id,req/headers/user_session_id,req/headers/accept,...,req/hostname,req/ip,req/originalUrl,req/path,req/protocol,req/secure,req/stale,req/subdomains/0,req/xhr,isSafe
0,/crm/note,Audrey Smith,"Meeting "")) or ((""x""))=((""x Notes 12:30",False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,::ffff:117.99.96.244,/crm/note,/note,http,False,True,crm,False,False
1,/crm/note,Christine Todd,Food last everything perhaps American up happe...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,::ffff:117.99.96.244,/crm/note,/note,http,False,True,crm,False,True
2,/crm/note,Madeline Jackson,note title <title onPropertyChange title onPro...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,::ffff:117.99.96.244,/crm/note,/note,http,False,True,crm,False,False
3,/crm/note,Samuel Wallace,"text1<video src=1 href=1 onerror=""javascript:a...",False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,::ffff:117.99.96.244,/crm/note,/note,http,False,True,crm,False,False
4,/crm/note,Marcus Gregory,Position simple agreement federal capital migh...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,::ffff:117.99.96.244,/crm/note,/note,http,False,True,crm,False,False

In [ ]:
dataframe["req/body/note/title"].value_counts()

Michael Smith       3
Michael Davis       2
David Adams         2
Heather Smith       2
Heather Davis       2
                   ..
Karen Ellis         1
Traci Wilson        1
Jordan Fleming      1
Henry Scott         1
Zachary Castillo    1
Name: req/body/note/title, Length: 973, dtype: int64

## The `.astype()` Method

The astype() method allows us to convert the data types of a series from one to another.

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/attacks.csv").dropna(how = "all")

In [ ]:
dataframe["req/body/note/title"].fillna("007", inplace = True)

In [ ]:
dataframe["req/ip"].fillna(123459789, inplace = True)

In [ ]:
dataframe["req/ip"] = 123459789
dataframe.head(5)

  req/baseUrl req/body/note/title  ... req/xhr  isSafe
0   /crm/note        Audrey Smith  ...   False   False
1   /crm/note      Christine Todd  ...   False    True
2   /crm/note    Madeline Jackson  ...   False   False
3   /crm/note      Samuel Wallace  ...   False   False
4   /crm/note      Marcus Gregory  ...   False   False

[5 rows x 23 columns]

In [ ]:
#dataframe.dtypes
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   req/baseUrl                  979 non-null    object
 1   req/body/note/title          979 non-null    object
 2   req/body/note/desc           979 non-null    object
 3   req/fresh                    979 non-null    bool
 4   req/headers/host             979 non-null    object
 5   req/headers/user-agent       979 non-null    object
 6   req/headers/content-type     979 non-null    object
 7   req/headers/org_id           979 non-null    object
 8   req/headers/user_session_id  979 non-null    object
 9   req/headers/accept           979 non-null    object
 10  req/headers/content-length   979 non-null    int64
 11  req/headers/user/name        979 non-null    object
 12  req/headers/user/role        979 non-null    object
 13  req/hostname                 979 non-null    object
 14  req/ip                       979 non-null    int64
 15  req/originalUrl              979 non-null    object
 16  req/path                     979 non-null    object
 17  req/protocol                 979 non-null    object
 18  req/secure                   979 non-null    bool
 19  req/stale                    979 non-null    bool
 20  req/subdomains/0             979 non-null    object
 21  req/xhr                      979 non-null    bool
 22  isSafe                       979 non-null    bool
dtypes: bool(5), int64(2), object(16)
memory usage: 142.6+ KB

In [ ]:
#don't want to seethe fractional decimal points and see the whole number
dataframe["req/ip"] = dataframe["req/ip"].astype("float")

In [ ]:
dataframe.dtypes

req/baseUrl                     object
req/body/note/title             object
req/body/note/desc              object
req/fresh                         bool
req/headers/host                object
req/headers/user-agent          object
req/headers/content-type        object
req/headers/org_id              object
req/headers/user_session_id     object
req/headers/accept              object
req/headers/content-length       int64
req/headers/user/name           object
req/headers/user/role           object
req/hostname                    object
req/ip                         float64
req/originalUrl                 object
req/path                        object
req/protocol                    object
req/secure                        bool
req/stale                         bool
req/subdomains/0                object
req/xhr                           bool
isSafe                            bool
dtype: object

In [ ]:
dataframe.head(3)

,req/baseUrl,req/body/note/title,req/body/note/desc,req/fresh,req/headers/host,req/headers/user-agent,req/headers/content-type,req/headers/org_id,req/headers/user_session_id,req/headers/accept,...,req/hostname,req/ip,req/originalUrl,req/path,req/protocol,req/secure,req/stale,req/subdomains/0,req/xhr,isSafe
0,/crm/note,Audrey Smith,"Meeting "")) or ((""x""))=((""x Notes 12:30",False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,False
1,/crm/note,Christine Todd,Food last everything perhaps American up happe...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,True
2,/crm/note,Madeline Jackson,note title <title onPropertyChange title onPro...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,False

In [ ]:
dataframe["req/ip"] = dataframe["req/ip"].astype("float")
dataframe["req/secure"] = dataframe["req/secure"].astype("object")
dataframe.head(3)

,req/baseUrl,req/body/note/title,req/body/note/desc,req/fresh,req/headers/host,req/headers/user-agent,req/headers/content-type,req/headers/org_id,req/headers/user_session_id,req/headers/accept,...,req/hostname,req/ip,req/originalUrl,req/path,req/protocol,req/secure,req/stale,req/subdomains/0,req/xhr,isSafe
0,/crm/note,Audrey Smith,"Meeting "")) or ((""x""))=((""x Notes 12:30",False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,False
1,/crm/note,Christine Todd,Food last everything perhaps American up happe...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,True
2,/crm/note,Madeline Jackson,note title <title onPropertyChange title onPro...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,False

In [ ]:
dataframe.dtypes

req/baseUrl                     object
req/body/note/title             object
req/body/note/desc              object
req/fresh                         bool
req/headers/host                object
req/headers/user-agent          object
req/headers/content-type        object
req/headers/org_id              object
req/headers/user_session_id     object
req/headers/accept              object
req/headers/content-length       int64
req/headers/user/name           object
req/headers/user/role           object
req/hostname                    object
req/ip                         float64
req/originalUrl                 object
req/path                        object
req/protocol                    object
req/secure                      object
req/stale                         bool
req/subdomains/0                object
req/xhr                           bool
isSafe                            bool
dtype: object

## The `.nunique()` Method

In [ ]:
dataframe["req/body/note/title"].nunique()    # number of unique values

973

In [ ]:
dataframe["req/body/note/title"] = dataframe["req/body/note/title"].astype("category")

In [ ]:
dataframe.dtypes

req/baseUrl                      object
req/body/note/title            category
req/body/note/desc               object
req/fresh                          bool
req/headers/host                 object
req/headers/user-agent           object
req/headers/content-type         object
req/headers/org_id               object
req/headers/user_session_id      object
req/headers/accept               object
req/headers/content-length        int64
req/headers/user/name            object
req/headers/user/role            object
req/hostname                     object
req/ip                          float64
req/originalUrl                  object
req/path                         object
req/protocol                     object
req/secure                       object
req/stale                          bool
req/subdomains/0                 object
req/xhr                            bool
isSafe                             bool
dtype: object

In [ ]:
dataframe.head()

,req/baseUrl,req/body/note/title,req/body/note/desc,req/fresh,req/headers/host,req/headers/user-agent,req/headers/content-type,req/headers/org_id,req/headers/user_session_id,req/headers/accept,...,req/hostname,req/ip,req/originalUrl,req/path,req/protocol,req/secure,req/stale,req/subdomains/0,req/xhr,isSafe
0,/crm/note,Audrey Smith,"Meeting "")) or ((""x""))=((""x Notes 12:30",False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,False
1,/crm/note,Christine Todd,Food last everything perhaps American up happe...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,True
2,/crm/note,Madeline Jackson,note title <title onPropertyChange title onPro...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,False
3,/crm/note,Samuel Wallace,"text1<video src=1 href=1 onerror=""javascript:a...",False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,False
4,/crm/note,Marcus Gregory,Position simple agreement federal capital migh...,False,example.com,insomnia/2020.4.2,application/json,5f572820f65af8ac955b2e83,5fb27d3750b11901a35649fe,*/*,...,example.com,123459789.0,/crm/note,/note,http,False,True,crm,False,False

## Sort a `DataFrame` with the `.sort_values()` Method, Part I

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/KDDTrain_20.txt")
dataframe.head(3)

   0  tcp ftp_data  SF  491   0.1  ...  0.00.7  0.00.8  0.05  0.00.9   normal  20
0  0  udp    other  SF  146     0  ...    0.00    0.00   0.0    0.00   normal  15
1  0  tcp  private  S0    0     0  ...    1.00    1.00   0.0    0.00  neptune  19
2  0  tcp     http  SF  232  8153  ...    0.03    0.01   0.0    0.01   normal  21

[3 rows x 43 columns]

In [ ]:
dataframe.sort_values("tcp", ascending = True)

       0   tcp  ftp_data  SF  491  ...  0.00.8  0.05  0.00.9   normal  20
6106   0  icmp     eco_i  SF   20  ...     0.0   0.0     0.0    satan   4
21952  0  icmp     eco_i  SF   18  ...     0.0   0.0     0.0  ipsweep  15
3050   0  icmp     eco_i  SF   30  ...     0.0   0.0     0.0   normal  18
9578   0  icmp     eco_i  SF    8  ...     0.0   0.0     0.0  ipsweep  16
21945  0  icmp     eco_i  SF    8  ...     0.0   0.0     0.0  ipsweep  15
...   ..   ...       ...  ..  ...  ...     ...   ...     ...      ...  ..
9330   0   udp  domain_u  SF   42  ...     0.0   0.0     0.0   normal  19
21290  0   udp  domain_u  SF   45  ...     0.0   0.0     0.0   normal  20
15236  0   udp  domain_u  SF   42  ...     0.0   0.0     0.0   normal  21
3699   0   udp  domain_u  SF   29  ...     0.0   0.0     0.0   normal  21
0      0   udp     other  SF  146  ...     0.0   0.0     0.0   normal  15

[25191 rows x 43 columns]

In [ ]:
dataframe.dtypes

0             int64
tcp          object
ftp_data     object
SF           object
491           int64
0.1           int64
0.2           int64
0.3           int64
0.4           int64
0.5           int64
0.6           int64
0.7           int64
0.8           int64
0.9           int64
0.10          int64
0.11          int64
0.12          int64
0.13          int64
0.14          int64
0.15          int64
0.16          int64
0.17          int64
2             int64
2.1           int64
0.00        float64
0.00.1      float64
0.00.2      float64
0.00.3      float64
1.00        float64
0.00.4      float64
0.00.5      float64
150           int64
25            int64
0.17.1      float64
0.03        float64
0.17.2      float64
0.00.6      float64
0.00.7      float64
0.00.8      float64
0.05        float64
0.00.9      float64
normal       object
20            int64
dtype: object

In [ ]:
dataframe.sort_values("tcp", ascending = False)

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17.1,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
0,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.0,0.0,0.0,0.0,normal,15
21436,0,udp,domain_u,SF,33,88,0,0,0,0,...,0.65,0.04,0.01,0.00,0.0,0.0,0.0,0.0,normal,21
15814,0,udp,domain_u,SF,44,132,0,0,0,0,...,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,normal,20
9932,0,udp,domain_u,SF,36,101,0,0,0,0,...,0.96,0.01,0.00,0.00,0.0,0.0,0.0,0.0,normal,21
15822,0,udp,domain_u,SF,44,127,0,0,0,0,...,1.00,0.01,0.00,0.00,0.0,0.0,0.0,0.0,normal,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15475,0,icmp,eco_i,SF,8,0,0,0,0,0,...,1.00,0.00,1.00,0.50,0.0,0.0,0.0,0.0,ipsweep,15
3068,0,icmp,eco_i,SF,8,0,0,0,0,0,...,1.00,0.00,1.00,0.25,0.0,0.0,0.0,0.0,nmap,15
14232,0,icmp,urp_i,SF,78,0,0,0,0,0,...,0.02,0.01,0.02,0.00,0.0,0.0,0.0,0.0,normal,19
19740,0,icmp,eco_i,SF,18,0,0,0,0,0,...,1.00,0.00,1.00,1.00,0.0,0.0,0.0,0.0,ipsweep,18
9525,0,icmp,eco_i,SF,8,0,0,0,0,0,...,1.00,0.00,1.00,0.50,0.0,0.0,0.0,0.0,ipsweep,17

In [ ]:
dataframe.sort_values("tcp", ascending = False, inplace = True)
dataframe.head(3)

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17.1,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
0,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.0,0.0,0.0,0.0,0.0,normal,15
21436,0,udp,domain_u,SF,33,88,0,0,0,0,...,0.65,0.04,0.01,0.0,0.0,0.0,0.0,0.0,normal,21
15814,0,udp,domain_u,SF,44,132,0,0,0,0,...,1.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,normal,20

In [ ]:
dataframe.sort_values("tcp", ascending = True, na_position = "last").tail()

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17.1,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
17296,0,udp,private,SF,1,0,0,0,0,0,...,0.04,0.86,0.15,0.0,0.1,0.0,0.75,0.0,satan,18
19536,0,udp,domain_u,SF,42,73,0,0,0,0,...,0.89,0.01,0.00,0.0,0.0,0.0,0.00,0.0,normal,18
8349,0,udp,domain_u,SF,46,138,0,0,0,0,...,1.00,0.01,0.00,0.0,0.0,0.0,0.00,0.0,normal,21
8327,0,udp,private,SF,105,145,0,0,0,0,...,0.86,0.01,0.00,0.0,0.0,0.0,0.00,0.0,normal,18
0,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.0,0.0,0.0,0.00,0.0,normal,15

In [ ]:
dataframe.sort_values("tcp", ascending = False, na_position = "first").tail()

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,0.17.1,0.03,0.17.2,0.00.6,0.00.7,0.00.8,0.05,0.00.9,normal,20
15475,0,icmp,eco_i,SF,8,0,0,0,0,0,...,1.00,0.00,1.00,0.50,0.0,0.0,0.0,0.0,ipsweep,15
3068,0,icmp,eco_i,SF,8,0,0,0,0,0,...,1.00,0.00,1.00,0.25,0.0,0.0,0.0,0.0,nmap,15
14232,0,icmp,urp_i,SF,78,0,0,0,0,0,...,0.02,0.01,0.02,0.00,0.0,0.0,0.0,0.0,normal,19
19740,0,icmp,eco_i,SF,18,0,0,0,0,0,...,1.00,0.00,1.00,1.00,0.0,0.0,0.0,0.0,ipsweep,18
9525,0,icmp,eco_i,SF,8,0,0,0,0,0,...,1.00,0.00,1.00,0.50,0.0,0.0,0.0,0.0,ipsweep,17

## Sort a `DataFrame` with the `.sort_values()` Method, Part II

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/Malware-dataset.csv")
dataframe.head(3)

<command-464804250986490>:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/Malware-dataset.csv")

   ID Machine  ... VersionInformationSize Unnamed: 55
0   1   34404  ...                      0         NaN
1   2     332  ...                      0         NaN
2   3     332  ...                      0         NaN

[3 rows x 56 columns]

In [ ]:
dataframe.sort_values(["SizeOfOptionalHeader", "Characteristics"], ascending = [True, False], inplace = True)
dataframe.head(3)

          ID Machine  ... VersionInformationSize Unnamed: 55
57364  57365     332  ...                      0         NaN
48680  48681     332  ...                      0         NaN
81181  81182     332  ...                      0         NaN

[3 rows x 56 columns]

## Sort `DataFrame` with the `.sort_index()` Method

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/Malware-dataset.csv")
dataframe.head(3)

<command-464804250986493>:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/Malware-dataset.csv")

   ID Machine  ... VersionInformationSize Unnamed: 55
0   1   34404  ...                      0         NaN
1   2     332  ...                      0         NaN
2   3     332  ...                      0         NaN

[3 rows x 56 columns]

In [ ]:
dataframe.sort_values(["SizeOfInitializedData", "MinorLinkerVersion", "MajorLinkerVersion"], inplace = True)
dataframe.tail(10)

          ID  Machine  ...  VersionInformationSize Unnamed: 55
10585  10586      332  ...                       0         NaN
11038  11039      332  ...                       0         NaN
5586    5587    34404  ...                       0         NaN
849      850    34404  ...                       0         NaN
3196    3197      332  ...                       0         NaN
6513    6514    34404  ...                       0         NaN
7595    7596      332  ...                       0         NaN
8625    8626      332  ...                       0         NaN
9298    9299      332  ...                       0         NaN
9954    9955  Machine  ...  VersionInformationSize         NaN

[10 rows x 56 columns]

In [ ]:
dataframe.sort_index(ascending = False, inplace = True)

In [ ]:
dataframe.head(3)

          ID Machine  ... VersionInformationSize Unnamed: 55
88259  88260     332  ...                      0         NaN
88258  88259     332  ...                      0         NaN
88257  88258     332  ...                      0         NaN

[3 rows x 56 columns]

## Rank Values with the `.rank()` Method

In [ ]:
dataframe = pd.read_csv("/Workspace/Users/g26420236@gwu.edu/Lab5/Python_DataFrame/revenue.csv", index_col = "Date")
dataframe["Miami"] = dataframe["Miami"].fillna(0).astype("int")
dataframe.head(3)

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933

In [ ]:
dataframe["Rev Rank"] = dataframe["Miami"].rank(ascending = False).astype("int")
dataframe.head(10)

         New York  Los Angeles  Miami  Rev Rank
Date
1/1/16        985          122    499         6
1/2/16        738          788    534         5
1/3/16         14           20    933         1
1/4/16        730          904    885         3
1/5/16        114           71    253         8
1/6/16        936          502    497         7
1/7/16        123          996    115        10
1/8/16        935          492    886         2
1/9/16        846          954    823         4
1/10/16        54          285    216         9

In [ ]:
dataframe.sort_values(by = "Miami", ascending = False)

         New York  Los Angeles  Miami  Rev Rank
Date
1/3/16         14           20    933         1
1/8/16        935          492    886         2
1/4/16        730          904    885         3
1/9/16        846          954    823         4
1/2/16        738          788    534         5
1/1/16        985          122    499         6
1/6/16        936          502    497         7
1/5/16        114           71    253         8
1/10/16        54          285    216         9
1/7/16        123          996    115        10